@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

body {
    background-color: #1F36B5;
    background-image: url('../assets/blue-blob.svg');
    background-position: right 100%;
    background-position-x: 100%;
    background-attachment: fixed;
    background-size: 72% 100%; 
    background-repeat: no-repeat;
}

#title {
    font-size: 75px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 295px;
    margin-top: 370px;
}

#sun {
    position: fixed;
    width: 83.18px;
    height: 83.26px;
    margin-left: 5px;
    margin-top: 4px;
}
